input.slider,
.slider-value,
div.ui.slider-value > input {
    width: 100%;
    text-align: center;
    height: 38px;
}

.input-label {
    font-weight: bold;
    font-size: 1.2em;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    max-height: 20px;
    background: #d1d1d1;
    border: 1px solid #aaa;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
    margin-top: 4px;
}

.slider::-moz-range-thumb,
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 38px;
    background: #1678C2;
    cursor: pointer;
}



.frame-resizer {
    display: inline-block;
    background: #353535;
    border: 1px solid #898989;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    margin-right: 2px;
}